:root{
    --primary-color: rgb(29, 29, 218);
    --primary-color-dark: rgb(6, 6, 75);
}

*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}
form button{
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 25px;
    
}
form button:hover{
    background: var(--primary-color-dark);
}
form button:active{
    background: red;
}

div{
    display: inline-block;
}

#resultado{
    float: right;
    margin-right: 40px;
}

.paragrafo-resultado{
    background-color: #109c79;
    padding: 10px 20px;
}
.paragrafo-erro{
    background-color: #c91e08;
    padding: 10px 20px;
}